<div class="home">
  <section class="hero">
    <div class="title-frame pink-border">
      <div class="title-box pink-background">
        <h1 class="les title">Les Arbres</h1>
        <h1 class="title">Paresseux</h1>
      </div>
    </div>
    <%= image_tag "car_house_2400.jpg", srcset: { "car_house_480.jpg" => "480w", "car_house_1200.jpg" => "1200w"}, id: "bk-home", alt: "French car next to a gite" %>

  </section>
  <section class="welcome">
    <div class="two-third">
      <h2 class="large-sub-h">Bienvenue,</h2>
      <p>Tucked away in the rolling hills of the Dorodgne, Les Abres Parreseux provides a home away from home, for those looking to relax and unwined.</p>
      <p>Over the last five years the house has been lovingly restored by its owners and now offers two bedroom accomodation set in an idlyic garden.</p>
      <p>We are located near the small town of Brantom, less than an hour from Bordeux Airport and only an eight hour drive from Calais.</p>
      <p>We invite you to explore <%= link_to "the house", house_path, class: "text-link" %> and its <%= link_to "location", location_path, class: "text-link" %> or <%= link_to "reserve", calendar_path(Date.today), class: "text-link" %> your next stay.</p>
      <h3 class="signed">Lesley & Mike</h3>
    </div>
    <div class="one-third">
      <div class="door-frame pink-border">
        <%= image_tag "front_door.jpg", id: "front-door", alt: "Rustic, aged front door" %>
      </div>
    </div>

  </section>

</div>
