<article class="house-container">
  <section class="hero green-bkg-pale">
    <div class="title-frame pink-border">
      <div class="title-box pink-background">
        <h1 class="les title">La Maison</h1>
      </div>
    </div>
    <%= image_tag "house_front.jpg", id: "bk-home", alt: "Rustic french house" %>
  </section>

  <section class="title-pane green-bkg-pale">
    <div class="title-frame green-border">
      <div class="title-box green-background">
        <h1 class="les title">Le Salon</h1>
      </div>
    </div>
  </section>

  <section class="room-pane green-bkg-pale">
    <%= image_tag "livingroom_main.jpg", class: "green-border", id: "room-img-main", alt: "Livingroom with fireplace and french doors",  "data-aos"=> "fade-up"%>
  </section>

  <section class="description-pane description-pane-padding green-bkg-pale">
    <div class="one-half">
      <div class="focus-description"  data-aos= "fade-up">
        <h2 class="med-heading">The Living Room</h2>
        <p>The livingroom has been sympathetically restored and tastefully decorated by its current owners who have added a wood buner to the original stone fireplace for you to warm yourselves by on those colder evenings.</p>
        <p>On any inclement days you can make use of the family sized TV and Netflix subcription to catch up on your favourite shows.</p>
        <p>You'll never want to leave.</p>
      </div>
    </div>

    <div class="one-half">
      <%= image_tag "livingroom_focus.jpg", class: "green-border", id: "room-img-sub", alt: "Buring fireplace in formal livingroom",  "data-aos"=> "fade-up"%>
    </div>
  </section>

  <section class="title-pane blue-bkg-pale">
    <div class="title-frame blue-border">
      <div class="title-box blue-background">
        <h1 class="les title">La Cuisine</h1>
      </div>
    </div>
  </section>
  <section class="room-pane blue-bkg-pale">
      <%= image_tag "kitchen_main.jpg", id: "room-img-main", class: "blue-border", alt: "Kitchen with large island and stone floor",  "data-aos"=> "fade-up"%>
  </section>

  <section class="description-pane description-pane-padding blue-bkg-pale">
    <div class="one-half ">
      <div class="focus-description" data-aos= "fade-up">
        <h2 class="med-heading">The Kitchen</h2>
        <p>The Kitchen really is the center of this home and offers you everything you need from a dishwasher to a wine rack!</p>
        <p>Finsihed to the highest of standards, cooking while on holiday has never felt like such a pleaasure.</p>
        <p>Painted in hues of soft blue the kitchen a calming place where you can prepare delicious meals for your family to enjoy, with plenty of room for everyone to lend a helping hand.</p>
      </div>
    </div>

    <div class="one-half">
      <%= image_tag "kitchen_focus.jpg", id: "room-img-sub", class: "blue-border", alt: "Duck egg kitchen units",  "data-aos"=> "fade-up" %>
    </div>
  </section>
  <section class="title-pane green-bkg-pale">
    <div class="title-frame green-border">
      <div class="title-box green-background">
        <h1 class="title les">La Chambre</h1>
        <h1 class="title les">des Maîtres</h1>
      </div>
    </div>
  </section>

  <section class="room-pane green-bkg-pale">
      <%= image_tag "bedroom_main.jpg", class: "green-border", id: "room-img-main", alt: "Double bedroom with open windows and stone walls",  "data-aos"=> "fade-up"%>
  </section>

  <section class="description-pane description-pane-padding green-bkg-pale">
    <div class="one-half">
      <div class="focus-description" data-aos= "fade-up">
        <h2 class="med-heading">The Master Bedroom</h2>
        <p>Everyone likes a taste of luxury when staying away from home and you're sure to feel that in the master suite</p>
        <p>The Super King sized bed and luxury cotton sheets will help you on your way to a perfect night's rest.</p>
        <p>In the mornings you can enjoy the sunrise on your private balcony and let the warm breeze south your soul.</p>
      </div>
    </div>

    <div class="one-half">
      <%= image_tag "bedroom_focus.jpg", class: "green-border", id: "room-img-sub", alt: "Double bed and open window",  "data-aos"=> "fade-up" %>
    </div>
  </section>
  <section class="title-pane blue-bkg-pale">
    <div class="title-frame blue-border">
      <div class="title-box blue-background">
        <h1 class="title les">La Salle</h1>
        <h1 class="title les">de Bain</h1>
      </div>
    </div>
  </section>
  <section class="room-pane blue-bkg-pale">
      <%= image_tag "bathroom_main.jpg", class: "blue-border", id: "room-img-main", alt: "Rool top bath and rustic fireplace",  "data-aos"=> "fade-up"%>
  </section>

  <section class="description-pane description-pane-padding blue-bkg-pale">
    <div class="one-half">
      <div class="focus-description" data-aos= "fade-up">
        <h2 class="med-heading">The Bathroom</h2>
        <p>When refitting the bathroom the owners knew only a deep roll top bath could satifty the feel of house.</p>
        <p>With its neutral tones and underfloor heating the family bathroom can be your sanctuary where you cleans and decompress.</p>
        <p>Light some candels, dim the lights and unwind.</p>

      </div>
    </div>

    <div class="one-half">
      <%= image_tag "bathroom_focus.jpg", class: "blue-border", id: "room-img-sub", alt: "White roll-top bath",  "data-aos"=> "fade-up"%>
    </div>
  </section>

  <section class="title-pane green-bkg-pale">
    <div class="title-frame green-border">
      <div class="title-box green-background">
        <h1 class="les title">Le Jardin</h1>
      </div>
    </div>
  </section>

  <section class="room-pane green-bkg-pale">
      <%= image_tag "garden_main.jpg", class: "green-border", id: "room-img-main", alt: "Rustic stone garen building with lawn",  "data-aos"=> "fade-up" %>
  </section>

  <section class="description-pane description-pane-padding green-bkg-pale">
    <div class="one-half">
      <div class="focus-description" data-aos= "fade-up">
        <h2 class="med-heading">The Garden</h2>
        <p>If you can tear yourself away from the house you'll dscover the true delight of the property, its garden.</p>
        <p>On a warm summer's day there's no better place to be. You can relax here as the scent of lavander wafts trhough the air or jump in the hot tub with something fizzy.</p>
        <p>As the day draws to a close you'll be able to dine al fresco and then snuggle up together around the firepit.</p>
        <p>The prefect end to a perfect day.</p>
      </div>
    </div>
    <div class="one-half">
      <%= image_tag "garden_focus.jpg", class: "green-border", id: "room-img-sub", alt: "Hammock between two low trees",  "data-aos"=> "fade-up"%>
    </div>
  </section>


</article>
