<article class="house-container">
  <section class="hero green-bkg-pale">
    <div class="title-frame pink-border">
      <div class="title-box pink-background">
        <h1 class="les title">La Maison</h1>
      </div>
    </div>
    <%= image_tag "house_front.jpg", id: "bk-home", alt: "French car next to a gite" %>
  </section>

  <section class="title-pane green-bkg-pale">
    <div class="title-frame green-border">
      <div class="title-box green-background">
        <h1 class="les title">Le Salon</h1>
      </div>
    </div>
  </section>

  <section class="room-pane green-bkg-pale">
    <%= image_tag "livingroom_main.jpg", class: "green-border", id: "room-img-main", alt: "Livingroom with fireplace and frnech doors" %>
  </section>

  <section class="description-pane description-pane-padding green-bkg-pale">
    <div class="one-half">
      <div class="focus-description">
        <h2 class="med-heading">The Living Room</h2>
        <p>The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
        </p>
      </div>
    </div>

    <div class="one-half">
      <%= image_tag "livingroom_focus.jpg", class: "green-border", id: "room-img-sub", alt: "Buring fireplace in formal livingroom" %>
    </div>
  </section>

  <section class="title-pane blue-bkg-pale">
    <div class="title-frame blue-border">
      <div class="title-box blue-background">
        <h1 class="les title">La Cuisine</h1>
      </div>
    </div>
  </section>
  <section class="room-pane blue-bkg-pale">
      <%= image_tag "kitchen_main.jpg", id: "room-img-main", class: "blue-border", alt: "Kitchen with large island and stone floor" %>
  </section>

  <section class="description-pane description-pane-padding blue-bkg-pale">
    <div class="one-half ">
      <div class="focus-description">
        <h2 class="med-heading">The Kitchen</h2>
        <p>The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
        </p>
      </div>
    </div>

    <div class="one-half">
      <%= image_tag "kitchen_focus.jpg", id: "room-img-sub", class: "blue-border", alt: "Duck egg kitchen units" %>
    </div>
  </section>
  <section class="title-pane green-bkg-pale">
    <div class="title-frame green-border">
      <div class="title-box green-background">
        <h1 class="title les">La Chambre</h1>
        <h1 class="title les">des Maîtres</h1>
      </div>
    </div>
  </section>

  <section class="room-pane green-bkg-pale">
      <%= image_tag "bedroom_main.jpg", class: "green-border", id: "room-img-main", alt: "Double bedroom with open windows and stone walls" %>
  </section>

  <section class="description-pane description-pane-padding green-bkg-pale">
    <div class="one-half">
      <div class="focus-description">
        <h2 class="med-heading">The Master Bedroom</h2>
        <p>The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
        </p>
      </div>
    </div>

    <div class="one-half">
      <%= image_tag "bedroom_focus.jpg", class: "green-border", id: "room-img-sub", alt: "Double bed and open window" %>
    </div>
  </section>
  <section class="title-pane blue-bkg-pale">
    <div class="title-frame blue-border">
      <div class="title-box blue-background">
        <h1 class="title les">La Salle</h1>
        <h1 class="title les">de Bain</h1>
      </div>
    </div>
  </section>
  <section class="room-pane blue-bkg-pale">
      <%= image_tag "bathroom_main.jpg", class: "blue-border", id: "room-img-main", alt: "Rool top bath and rustic fireplace" %>
  </section>

  <section class="description-pane description-pane-padding blue-bkg-pale">
    <div class="one-half">
      <div class="focus-description">
        <h2 class="med-heading">The Bathroom</h2>
        <p>The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
        </p>
      </div>
    </div>

    <div class="one-half">
      <%= image_tag "bathroom_focus.jpg", class: "blue-border", id: "room-img-sub", alt: "White roll-top bath" %>
    </div>
  </section>

  <section class="title-pane green-bkg-pale">
    <div class="title-frame green-border">
      <div class="title-box green-background">
        <h1 class="les title">Le Jardin</h1>
      </div>
    </div>
  </section>

  <section class="room-pane green-bkg-pale">
      <%= image_tag "garden_main.jpg", class: "green-border", id: "room-img-main", alt: "Rustic stone garen building with lawn" %>
  </section>

  <section class="description-pane description-pane-padding green-bkg-pale">
    <div class="one-half">
      <div class="focus-description">
        <h2 class="med-heading">The Garden</h2>
        <p>The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
          The house offers a perfect family kitchen.
        </p>
      </div>
    </div>

    <div class="one-half">
      <%= image_tag "garden_focus.jpg", class: "green-border", id: "room-img-sub", alt: "Hammock between two low trees" %>
    </div>
  </section>


</article>
