<article class="location green-bkg-pale">
  <section class="hero">
    <div class="title-frame green-border">
      <div class="title-box green-background">
        <h1 class="title">Location</h1>
      </div>
    </div>
    <%= image_tag "church.jpg", srcset: { "church_480.jpg" => "480w", "church_1200.jpg" => "1200w"}, id: "bk-home", alt: "Church in sunny french fields" %>
  </section>

  <section class="description-pane description-pane-padding">
    <div class="one-half">
      <div class="focus-description" data-aos= "fade-up">
        <h2 class="med-heading">Le Dordogne</h2>
        <p>We are located in the rolling hills of the rural Dordogne just outside the pituresque town of Brantome.</p>
        <p>Brantome has everything you might need including twice weekly farmers markets, cafes and a super market.</p>
        <p>Nearby you are able Kayak down the meadnering Dronne and explore countless french towns and villages.</p>
      </div>
    </div>

    <div class="one-half std-background">
      <%= image_tag "brantome_focus.jpg", srcset: { "brantome_focus_480.jpg" => "480w", "brantome_focus_1200.jpg" => "1200w"}, class: "green-border", id: "room-img-sub", alt: "Typcial french villiage", "data-aos"=> "fade-up" %>
    </div>
  </section>

  <section class="locale description-pane description-pane-padding">
    <div class="one-half">
      <div class="focus-description" data-aos= "fade-up">
        <h2 class="med-heading">Bordeaux</h2>
        <p>If you want a taste of Chic urban life in France then Bordeaux is second only to Paris and less than one hour away.</p>
        <p>This historic city and its charming boulevards will captivate you with their grand arcitecture and excuisit cuisine.</p>
        <p>Sites to see include the 11th Centuary Cathedral and the Place de La Bourse with its foutnatins and reflecting pools.</p>
        <p>Where better to enjoy a Plat de Jour and a glass of Bordeaux?</p>
      </div>
    </div>
    <div class="one-half std-background">
      <%= image_tag "bordeaux_focus.jpg", srcset: { "bordeaux_focus_480.jpg" => "480w", "bordeaux_focus_1200.jpg" => "1200w"}, class: "green-border", id: "room-img-sub", alt: "Flowers in Bordeaux", "data-aos"=> "fade-up" %>
    </div>
  </section>

  <section class="locale description-pane description-pane-padding">
    <div class="one-half">
      <div class="focus-description" data-aos= "fade-up">
        <h2 class="med-heading">Lacanau</h2>
        <p>No trip to the continent would be complete without a day at the beach. For this we suggest Lacanau, an unspoilet paradise of forests, sand dunes and endless beaches.</p>
        <p>Relax on the golden sand, surf the waves of hire bikes for the day. Lacanau offers everything you and your family could wish for.</p>
      </div>
    </div>

    <div class="one-half std-background">
      <%= image_tag "beach_focus.jpg", srcset: { "beach_focus_480.jpg" => "480w", "beach_focus_1200.jpg" => "1200w"}, class: "green-border", id: "room-img-sub", alt: "People walking up a sand dune", "data-aos"=> "fade-up" %>
    </div>
  </section>

  <section class="locale description-pane description-pane-padding">
    <div class="one-half">
      <div class="focus-description" data-aos= "fade-up">
        <h2 class="med-heading">Getting to us</h2>
        <p>The house is easily accessible by car, train and plane.</p>
        <p>Nearby airports include Bordeaux, Limoge and Bergerac, all served by direct flights for airports across the UK.</p>
        <p>If you plan to drive we are only eight hours from Calais, easily driven in a day.</p>
      </div>
    </div>
    <div class="one-half std-background">
      <%= image_tag "signs_focus.jpg", srcset: { "signs_focus_480.jpg" => "480w", "signs_focus_1200.jpg" => "1200w"}, class: "green-border", id: "room-img-sub", alt: "French Road Signs", "data-aos"=> "fade-up" %>
    </div>
  </section>

<article>
