<article class="location green-bkg-pale">
  <section class="hero">
    <div class="title-frame green-border">
      <div class="title-box green-background">
        <h1 class="title">Location</h1>
      </div>
    </div>
    <%= image_tag "church.jpg", id: "bk-home", alt: "Church in sunny french fields" %>
  </section>




  <section class="description-pane description-pane-padding">
    <div class="one-half">
      <div class="focus-description">
        <h2>Le Charente</h2>
        <p>We are located in the rolling hills of the rural Charente.
          We are an eight hour rive from Calais and served by Limoge, Bordeux and other airports all nearby.
          Our small town has everything you need, twice weekly farmers markets, cafe and super markets
          Around are counless pituresque villages for you to explore
          Not far are Bordeux and the coast
        </p>
      </div>
    </div>

    <div class="one-half std-background">
      <%= image_tag "brantome_focus.jpg", class: "green-border", id: "room-img-sub", alt: "Buring fireplace in formal livingroom" %>
    </div>
  </section>

  <section class="locale description-pane description-pane-padding">
    <div class="one-half std-background">
      <%= image_tag "bordeaux_focus.jpg", class: "green-border", id: "room-img-sub", alt: "Buring fireplace in formal livingroom" %>
    </div>

    <div class="one-half">
      <div class="focus-description">
        <h2>Bordeaux</h2>
        <p>Lots of information about Bordeaux
        </p>
      </div>
    </div>
  </section>

  <section class="locale description-pane description-pane-padding">
    <div class="one-half">
      <div class="focus-description">
        <h2>Lacanue</h2>
        <p>Lots of information about the beach
        </p>
      </div>
    </div>

    <div class="one-half std-background">
      <%= image_tag "beach_focus.jpg", class: "green-border", id: "room-img-sub", alt: "Buring fireplace in formal livingroom" %>
    </div>
  </section>

  <section class="locale description-pane description-pane-padding">
    <div class="one-half std-background">
      <%= image_tag "signs_focus.jpg", class: "green-border", id: "room-img-sub", alt: "Buring fireplace in formal livingroom" %>
    </div>

    <div class="one-half">
      <div class="focus-description">
        <h2>Getting to us</h2>
        <p>You can drive fly, train or walk!
        </p>
      </div>
    </div>
  </section>

<article>
