<article class="reservation-show green-bkg-pale">
  <section class="reservation-frame green-border">
    <div class="reservation green-background">
      <%= form_for @reservation do |f| %>
        <% if @reservation.errors.any? %>
          <% @reservation.errors.messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        <% end %>
        <h2 class="normal-heading">Booking Information</h2>
        <%= f.label :Arrival_Date, class:"std-form-label field-spacing" %><br />
        <%= f.date_select :arrival_date, :order =>[:day, :month, :year], :start_year => Date.today.year, :end_year => Date.today.year+1,  required: true, class:"std-input field-spacing" %><br />
        <%= f.label :Departure_Date, class:"std-form-label field-spacing" %><br />
        <%= f.date_select :departure_date, :order =>[:day, :month, :year], :start_year => Date.today.year, :end_year => Date.today.year+1, required: true, class:"std-input field-spacing" %><br />
        <%= f.label :party_size, class:"std-form-label field-spacing" %><br />
        <%= f.select :party_size, [1, 2, 3, 4, 5, 6 ], required: true, class:"std-input field-spacing" %><br />
        <%= f.label :notes, class:"std-form-label field-spacing" %><br />
        <%= f.text_field :notes, class:"std-input field-spacing" %><br />
        <%= f.submit class:"std-form-btn field-spacing" %>
      <% end  %>
    </div>
  </section>
</article>
