
<h2>Your Details</h2>
<p>Name <%= @reservation.reserver.title %> <%= @reservation.reserver.first_name %> <%= @reservation.reserver.last_name %></p>

<h2>Reservation Details</h2>
<p>Reservation number: <%= @reservation.reservation_number %></p>
<p>Arriving: <%= @reservation.arrival_date %></p>
<p>Departing: <%= @reservation.departure_date %></p>
<p>Fee: <%= @reservation.fee %></p>
<p>Notes to the Host: <%= @reservation.notes %></p>
<%= link_to "Home", root_url %>
