<article class="reservation-show green-bkg-pale">
  <section class="reservation-frame green-border">
    <div class="reservation green-background">
      <h2>Reference: <%= @reservation.reservation_number %></h2>
      <p>Arriving: <%= @reservation.arrival_date.strftime("%A %d %B %Y") %></p>
      <p>Departing: <%= @reservation.departure_date.strftime("%A %d %B %Y") %></p>
      <p>Fee: £<%= @reservation.fee %></p>
      <p>Notes to the Host</p>
      <p><%= @reservation.notes %></p>
      <p><%= link_to "Amend Reservation", edit_reservation_path(@reservation) %></p>
      <% if is_admin?(current_reserver) %>
        <p><%= link_to "Client: " + @reservation.reserver.title + " " + @reservation.reserver.last_name , @reservation.reserver %></p>
      <% else %>
        <p><%= link_to "My Account" , @reservation.reserver %></p>
      <% end %>
      <p><%= link_to "Cancel Reservation", @reservation, method: :delete,
                                    data: { confirm: "Are you sure you want to cancel this reservation?" } %></p>
    </div>
  </section>
</article>
