<h2>Dear <%= @reserver.title %> <%= @reserver.last_name %>,</h2>
<p>We are delighted to confirm your reservation with reservation number <%= @reservation.reservation_number %>.</p>
<p>If for any reason you need to amend your reservation you can do so by logging into your <%= link_to "personal account", client_login_url %>.</p>

<h2>Reservation Details</h2>
<p>Reservation Number: <%= @reservation.reservation_number %></p>
<p>Arriving: <%= @reservation.arrival_date.strftime("%A %d %B %Y") %></p>
<p>Departing: <%= @reservation.departure_date.strftime("%A %d %B %Y")%></p>
<p>Fee: £<%= @reservation.fee %></p>
<p>Notes: <%= @reservation.notes %></p>
<p>Thank you for booking a stay at Les Arbres Paresseux</p>
<p class="signed">Julie & Peter</p>
