<section class="hero">
  <div class="title-frame rose-border">
    <div class="title-box rose-background-strong login-box">
      <h2 class="med-heading">Login</h2>
      <%= form_tag reserver_sessions_path do |f| %>
        <%= text_field_tag :email_address, nil,  placeholder: "example@email.com", class: "std-input field-spacing" %></br>
        <%= password_field_tag :password, nil,  placeholder: "Password", class:"std-input field-spacing" %></br>
        <%=  submit_tag "Submit", class: "std-form-btn" %>
      <% end %>
    </div>
  </div>
  <%= image_tag "gate.jpg", id: "bk-home", alt: "Open gate in a field" %>
</section>
